
<div class="container mt-5 mb-5 pr-5 pl-5 w3-animate-right">
  <div class="row">
      <div class="col-12">
          <h1 class='text-center mb-3 white-cl'><small>Frequently Asked Questions</small></h1>
          <h3 class="text-center text-muted mb-5">The following are questions that some people might have,
            or ones that we feel you might find useful.</h3>
          <mat-accordion multi>
            <mat-expansion-panel class="mb-5" hideToggle >
              <mat-expansion-panel-header >
                <mat-panel-title>
                  Are you an affiliated with any Game publisher
                </mat-panel-title>
                <mat-panel-description>

                </mat-panel-description>
              </mat-expansion-panel-header>
              <p>No, we are NOT officially affiliated with any game that is provided here, this is simply a 3rd party trading website</p>
            </mat-expansion-panel>

            <mat-expansion-panel class="mb-5">
              <mat-expansion-panel-header>
                <mat-panel-title>
                  I have an issue, how can i report it?
                </mat-panel-title>
                <mat-panel-description>

                </mat-panel-description>
              </mat-expansion-panel-header>
              <p>Please contact the admin if you face any issue, On your bottom right you will see a chatbot feel free to drop a message there if any admin is online he or she will reply to you As soon As possible</p>
            </mat-expansion-panel>

            <mat-expansion-panel class="mb-5">
              <mat-expansion-panel-header>
                <mat-panel-title>
                  What platforms are Supported here for Trading
                </mat-panel-title>
                <mat-panel-description>

                </mat-panel-description>
              </mat-expansion-panel-header>
              <p>Currently we only support PC but we are working on adding support for more platforms like Playstatio,Xbox</p>
            </mat-expansion-panel>

            <mat-expansion-panel class="mb-5">
              <mat-expansion-panel-header>
                <mat-panel-title>
                  What are the trading rules
                </mat-panel-title>
                <mat-panel-description>

                </mat-panel-description>
              </mat-expansion-panel-header>
              <h1 class="mt-4">The Rules are Simple</h1>

              <mat-list class="text-muted">
                <mat-list-item>1. Don't be abbusive </mat-list-item>
                <mat-list-item>2. Spamming - This includes comments, reports, invites, duplicate trades, etc. </mat-list-item>
                <mat-list-item>3. Promotions - Self-advertising, promotions of groups, 3rd party media, etc. </mat-list-item>
                <mat-list-item>4. Offering items not available on that platform - Offering items like Alpha rewards etc. on platforms where they're not available (per example Alpha rewards only exist on Steam). </mat-list-item>
                <mat-list-item>5. Fake Trades - Posting trades while you don't own the items, or just posting them for fun without any intention to trade the items.</mat-list-item>
                <mat-list-item>6. Don't open any external/suspecious links and report the user to the admin.  </mat-list-item>
              </mat-list>

            </mat-expansion-panel>
            <mat-expansion-panel class="mb-5">
              <mat-expansion-panel-header>
                <mat-panel-title>
                  How do you store my password?

                </mat-panel-title>
                <mat-panel-description>

                </mat-panel-description>
              </mat-expansion-panel-header>
              <p>Your password isn’t stored in our DB directly.
                Instead, we store a HASH (by using Bcrypt) generated on the basis of your password</p>
            </mat-expansion-panel>
            <mat-expansion-panel class="mb-5">
              <mat-expansion-panel-header>
                <mat-panel-title>
                  How will you use my mail?
                </mat-panel-title>
                <mat-panel-description>

                </mat-panel-description>
              </mat-expansion-panel-header>
              <p>Currently - only for login purposes.
                You won’t receive any messages from us. If we’ll introduce some sort of email notifications in the future, we’ll let you know in advance and provide an option to enable/disable the new features.</p>
            </mat-expansion-panel>
          </mat-accordion>
      </div>
  </div>
</div>
