                  <div class="s007">
                    <form>
                      <div class="inner-form">
                        <div class="basic-search">
                          <div class="input-field">
                            <div class="icon-wrap">
                              <svg version="1.1" xmlns="http://www.w3.org/2000/svg"
                                xmlns:xlink="http://www.w3.org/1999/xlink" width="20" height="20" viewBox="0 0 20 20">
                                <path
                                  d="M18.869 19.162l-5.943-6.484c1.339-1.401 2.075-3.233 2.075-5.178 0-2.003-0.78-3.887-2.197-5.303s-3.3-2.197-5.303-2.197-3.887 0.78-5.303 2.197-2.197 3.3-2.197 5.303 0.78 3.887 2.197 5.303 3.3 2.197 5.303 2.197c1.726 0 3.362-0.579 4.688-1.645l5.943 6.483c0.099 0.108 0.233 0.162 0.369 0.162 0.121 0 0.242-0.043 0.338-0.131 0.204-0.187 0.217-0.503 0.031-0.706zM1 7.5c0-3.584 2.916-6.5 6.5-6.5s6.5 2.916 6.5 6.5-2.916 6.5-6.5 6.5-6.5-2.916-6.5-6.5z">
                                </path>
                              </svg>
                            </div>
                            <input id="search" type="text" placeholder="Search..." name="searchText"
                              [(ngModel)]="searchText" />
                            <div class="result-count">
                              <span>{{totalPost}} </span>Total Posts
                            </div>
                          </div>
                        </div>
                        <div class="advance-search">
                          <span class="desc">Select Game</span>
                          <div class="row">
                          <div class="col mr-auto">
                            <div class="input-field ">
                              <div class="input-select">
                                <select class="w3-select" name="gameFilter" [(ngModel)]='gameFilter' >
                                  <option  [ngValue]="undefined">Show All</option>
                                  <option value="warframe">Warframe</option>
                                  <option value="rocket league">Rocket League</option>
                                  <option value="csgo">CSGO</option>
                                  <option value="dota2">Dota 2</option>
                                  <option value="team fortress2">Team Fortress 2</option>
                                  <option value="rust">Rust</option>
                                  <option value="pubg">PUBG</option>
                                </select>
                              </div>
                            </div>
                          </div>

                          </div>
                          <!-- <div class="row second">

                          </div> -->
                        </div>
                      </div>
                    </form>
                  </div>
                  <div class="container mt-100">
                    <div class="row d-flex flex-wrap ">
                      <div class="col-md-6 w3-animate-right" *ngFor='let p of posts |filter:searchText|filter:gameFilter'>
                        <div class="card mb-4">
                          <div class="card-header">
                            <div class="media flex-wrap w-100 align-items-center"> <img
                                [src]="p.userImg"
                                class="d-block ui-w-40 rounded-circle" alt="">
                                <div class="media-body ml-3"> <a href="javascript:void(0)"
                                  data-abc="true">{{p.username}}</a>
                                <div class="text-muted small">{{p.postDate |dateAgo}}</div>
                              </div>
                              <div class="text-muted small ml-3">
                                <div class="red-1">Member since <strong>{{p.userJoinDate |date}}</strong></div>
                              </div>
                            </div>
                          </div>
                          <div class="card-body">
                            <h3 class="text-center red-1">[WTS]</h3>
                            <p class="p-1"> {{p.haveItem}}
                            </p>
                            <h3 class="text-center red-1">[WTB]</h3>
                            <p class="p-1"> {{p.wantItem}}
                            </p>
                          </div>
                          <div class="card-body">
                            <h3 class="red-1">[Description]</h3>
                            <p class="p-1 b-red"> {{p.desc}}
                            </p>
                          </div>
                          <div
                            class="card-footer d-flex flex-wrap justify-content-center align-items-center px-0 pt-0 pb-3">

                            <div class="px-4 pt-3"> <a [href]="p.buyLink" target="_blank" class="btn btn-primary"><i
                                  class="fa fa-shopping-cart" aria-hidden="true"></i> Trade</a> </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
