
<div class="fullv">

  <video  autoplay loop playsinline muted>
  <source src="../../assets/abs2.mp4">
  </video>

  <div class="head">
    <header class="masthead w3-animate-zoom">
      <div class="container d-flex  align-items-center">
          <div class=" text-center">
              <h1 style="font-size: 5em;letter-spacing:10px;"  class=" p-2">No<span class="" style="color: #F68404;" >X</span> </h1>
              <h1 style="font-size: 5em;letter-spacing:10px;"  class=" p-2">TRADING</h1>
              <h2 class="text-white-50 mx-auto mt-2 mb-5">A Trading place for all your In-game Digital Items</h2>
              <a routerLink='/sign-up' style="background-color: #F68404;border-color: #F68404;font-size: 1.5em;" class="btn btn-primary">Get Started</a>
          </div>
      </div>
  </header>
  </div>

  <div id="abtt" class="container-fluid bgg-dark">
   <div class="abt d-flex justify-content-center mb-5">
     <h1 class="abt-title">ABOUT US</h1>
     <div class="imgcon mt-4">
       <img src="../../assets/icons/logoMain.png" alt="">
     </div>
   </div>

   <div class="content d-flex">
     <div class="content-text text-center">
         <p>
          "Welcome! Nox Trading is a trading platform for various games
           here we allow player to trade their digital items with other players,
           We are in no way associated with any game publisher
           this is a 3rd party website simply made to help you find trades easily"
         </p>
     </div>
     </div>


  </div>

  <app-footer></app-footer>
</div>




